# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
*.log

# Environment variables
.env

# Media uploads
media/

# Static collected files
staticfiles/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/